<aside class="col-md-3">
		<!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item" href="{% url 'dashbord' %}">Dashboard</a>
        <a class="list-group-item" href="{% url 'my_order' username=request.user.username %}">My Order</a>
        <a class="list-group-item" href="{% url 'change_password' %}">Change Password</a>
    </ul>
<br>
<a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
<!--   SIDEBAR .//END   -->
</aside>
